*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.navbar-fixed-top{
  background-color: #ffffff;
}

.mynavbar{
  height: 60px;
  line-height: 60px;
}

.mynav-ul li, .mynav-ul{
  display: inline;
  padding: 0 5px;
}

.mynav-ul li a{
  color: #031C4E;
}

.mynav-collapse{
  display: none;
  float: right;
}

.logo-nav{
  padding-bottom: 8px;
  margin-right: 50px;
}

.fa-sort-down{
  margin-bottom: 5px;
}

.btn-google{
  position: relative;
}

.btn-google i{
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}

.signup-btn{
  background-color: #ffffff;
  border: 1px solid #066AFD;
  color: #066AFD;
}

.jumbotron{
  margin-bottom: 0;
  background-color: rgba(0,0,0,0);
}

#jumbo{
  background-image: url("../img/bg-home.svg");
  background-size: cover;
  margin-top: 60px;
}

form{
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
}

form input{
  margin: 20px 0;
}

.btn-google{
  color: #626262;
  box-shadow: 3px 3px 5px #888888;
}

.mybtn{
  background-color: #0169FD;
}

.logos li{
  display: inline;
  padding: 10px;
}
.logos li img{
  width: 150px;
}

.tab-sw{
  list-style: none;
  font-size: 1.5em;
  padding-left: 50px;
}

.tab-sw li{
  padding: 5px;
  font-size: 1em;
}
.tab-sw li a{
  border-left: 1px solid lightblue;
  padding-left: 5px;
}

.card h4,
.card p{
  padding: .2em 0;
}

.mycarousel i{
  padding: 0 3px;
}

.ul-dots{
  padding-top: 5px;
}

.ul-dots li{
  display: inline;
  color: #066AFD;
}

.server-element{
  border-bottom: 1px solid lightblue;
  padding-top: 10px;
}
.server-element-last{
  padding-top: 10px;
}

.create-account-btn{
  color: #066AFD;
}

.foot-logos li{
  display: inline;
  list-style: none;
  padding-right: 1%;
}
.ul-foot{
  padding: 10px;
}
.ul-foot li{
  list-style: none;
  padding: 5px 0;
}
.ul-foot .ul-head{
  font-weight: 800;
}
.helper{
  width: 400px;
  position: fixed;
  top: 100%;
  left: 100%;
  transform: translate(-110%, -110%);
}
.helper .shark{
  position: relative;
}
.helper div i.far{
  position: absolute;
  top: -10%;
  left: 85%;
  color: white;
  transform: scale(1);
}
.helper div i.fas{
  position: absolute;
  top: -10%;
  left: 85%;
  color: red;
  transform: scale(.8);
}
.helper div .notify {
  position: absolute;
  top: -12%;
  left: 87.5%;
  color: white;
  transform: scale(.7);
}
/* .regions li{
  border-bottom: 1px solid lightblue;
  list-style: none;
  line-height: 250%;
}
.regions span, .regions p{
  display: inline;
}
.regions span{
  padding-right: 10%;
}
.regions li a{
  float: right;
} */

/*UTILITIES*/
.text-white{
  color: #ffffff;
}

.text-lblue{
  color: #BBCDFE;
}

.text-blue-grey{
  color: #586686;
}

.text-blue{
  color: #031C4E;
}

.text-blue2{
  color: #066AFD;
}

.btn-100{
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.bg-grey{
  background-color: #F2F5F9;
}

.bg-white{
  background-color: #FFFFFF;
}

.bg-blue{
 background-image: -webkit-linear-gradient(top left, #066AFD 0%, #031C4E 100%);
 background-image: -o-linear-gradient(top left, #066AFD 0%, #031C4E 100%);
 background-image: linear-gradient(to bottom right, #066AFD 0%, #031C4E 100%);
}

.bg-map{
  /* background-image: url("https://prismic-io.s3.amazonaws.com/www-static/a2e2e54b-93f5-4579-9fa2-bd957fea611a_bg-map.svg");
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover; */
  background: url(https://prismic-io.s3.amazonaws.com/www-static/a2e2e54b-93f5-4579-9fa2-bd957fea611a_bg-map.svg) 50% 50% / cover no-repeat rgb(3, 27, 78);
}

.bg-dblue{
  background-color: #031C4E;
}

.section-pad{
  padding-top: 30px;
  padding-bottom: 30px;
}

.mt-1{
  margin-top: 2em;
}
.mt-2{
  margin-top: 1em;
}

@media all and (max-width: 992px) {
  .text-jumbo h1{
    font-size: 3em;
  }

  .logos li img{
    width: 100px;
  }

  .tab-sw{
    padding-left: 10px;
    padding-top: 10px;
  }
  .mycarousel img{
    width: 300px;
  }
  .ul-dots{
    transform: scale(.8);
  }
}

@media all and (max-width: 768px) {
  .text-jumbo h1{
    font-size: 2em;
  }

  .logos li img{
    width: 150px;
  }

  .text-jumbo p{
    font-size: 1.3em;
  }

  .mycarousel img{
    width: 250px;
  }
  .helper{
    position: fixed;
    width: 300px;
    top: 100%;
    left: 105%;
    transform: translate(-110%, -110%);
  }
  .helper div i.far{
    position: absolute;
    top: -10%;
    left: 110%;
    color: white;
    transform: scale(1);
  }
  .helper div i.fas{
    position: absolute;
    top: -10%;
    left: 110%;
    color: red;
    transform: scale(.8);
  }
  .helper div .notify {
    position: absolute;
    top: -13%;
    left: 113%;
    color: white;
    transform: scale(.7);
  }
}
