*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.navbar-header img{
  width: 200px;
}

.navbar{
  border: none;
  width: 100%;
}

.navbar-brand{
  height: auto;
}

.nav {

}
nav{
  height: 60px;
  line-height: 60px;
}

.navbar-brand img{
  height: 30px;
}

.jumbotron{
  margin-top: 50px;
  margin-bottom: 0;
  background-color: rgba(0,0,0,0);
}

#jumbo{
  background-image: url("../img/bg-home.svg");
  background-size: cover 80%;
}

form{
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
}

.btn-google{
  color: #626262;
  box-shadow: 3px 3px 5px #888888;
}

.mybtn{
  background-color: #579AFD;
}

.logos li{
  display: inline;
  padding: 10px;
}
.logos li img{
  width: 150px;
}

/*UTILITIES*/
.text-white{
  color: #ffffff;
}

.text-lblue{
  color: #BBCDFE;
}

.text-blue{
  color: #031C4E;
}

.text-blue2{
  color: #066AFD;
}

.btn-100{
  width: 100%;
  margin-top: 10px;
}

.bg-grey{
  background-color: #F2F5F9;
}

.section-pad{
  padding: 30px 0;
}
